<span>
  <button class="btn btn-nav-base btn mb-1" (click)="open(anexoModal)" [disabled]="desabilitaBotao()">
    <i class="fa fa-paperclip fa-lg mr-1"></i>Anexar Arquivos
  </button>
</span>

<table *ngIf="enviados.listaAnexosEnviados.length" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Descrição de Anexo</th>
      <th class="text-center">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let anexo of anexosConfig.listaAnexos">
      <td>
        {{ anexo.detalhe }} <strong class="text-danger">{{ anexo.requerido ? '*' : ''}}</strong>
      </td>
      <td *ngIf="checaEnviado(anexo.id)" width="20%" class="position-relative text-center">
        <div class="box-file">
          <div class="envio-confirmado">
            <i class="fa fa-check fa-lg mr-1 text-success"></i> OK
          </div>
        </div>
      </td>
      <td *ngIf="!checaEnviado(anexo.id)" width="20%" class="position-relative text-center">
        <div class="box-file">
          <div class="envio-confirmado">
            <i class="fa fa-times fa-lg mr-1 text-danger"></i> PENDENTE
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #anexoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Anexar Arquivos</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <lib-upload-arquivos [anexosConfig]="anexosConfig" (arquivoAnexado)="onArquivoAnexado($event)">
    </lib-upload-arquivos>

    <div *ngIf="erroInfo" [class]="'alert alert-' + erroInfo.statusClass">
      {{ erroInfo.label }}
      <label class="alert-link" [hidden]="erroStatus !== 'erro'" (click)="tentarNovamente()">
        : Tentar Novamente
      </label>
    </div>

  </div>
</ng-template>
