<main>
  <div>
    <pre>
      {{ result | json }}
    </pre>
  </div>
  <p>Tratamento de resposta Http</p>
  <button class="btn btn-success mr-1" (click)="callTest(200)" title="ok">200</button>

  <button class="btn btn-success mr-1" (click)="callTest(202)" title="Accepted">202</button>
  <button class="btn btn-success mr-1" (click)="callTest(203)" title="Non-Authoritative Information">203</button>
  <button class="btn btn-success mr-2" (click)="callTest(204)" title="No Content">204</button>

  <button class="btn btn-warning mr-1" (click)="callTest(304)" title="Not Modified ">304</button>
  <button class="btn btn-warning mr-1" (click)="callTest(401)" title="Unauthorized">401</button>
  <button class="btn btn-warning mr-1" (click)="callTest(403)" title="Forbidden">403</button>
  <button class="btn btn-warning mr-2" (click)="callTest(404)" title="Not Found">404</button>

  <button class="btn btn-danger mr-2" (click)="callTest(500)" title="Internal Server Error">500</button>


  <button class="btn btn-other mr-2" (click)="callTest(418)" title="Erro fora da lista de tratamento">Erro Não Cadastrado</button>

  <!-- <button class="btn btn-danger" (click)="callLoginError()" title="login error">LOGIN ERROR</button> -->
</main>
