<div #exemplo>
  <button (click)="exemplo.value = 'padrao'" class="mb-2 btn btn-primary">padrão</button>
  <lib-upload-arquivos *ngIf="exemplo.value == 'padrao'" [anexosConfig]="arquivosConfig"></lib-upload-arquivos>

  <hr />

  <button (click)="exemplo.value = 'card'" class="mb-2 btn btn-primary">card</button>
  <lib-card-upload *ngIf="exemplo.value == 'card'" [anexosConfig]="arquivosConfig"></lib-card-upload>

  <hr />
  <button (click)="exemplo.value = 'modal'" class="mb-2 btn btn-primary">modal</button> <br />
  <lib-modal-upload *ngIf="exemplo.value == 'modal'" [anexosConfig]="arquivosConfig"></lib-modal-upload>
</div>
