<div class="container mt-3 mb-3">
  <button class="btn btn-outline-dark mr-2" [routerLink]="['idb']" routerLinkActive="router-link-active" >IDB</button>
  <button class="btn btn-outline-info mr-2" [routerLink]="['diretiva']" routerLinkActive="router-link-active" >diretiva</button>
  <button class="btn btn-outline-secondary mr-2" [routerLink]="['upload']" routerLinkActive="router-link-active" >upload</button>
  <button class="btn btn-outline-primary" [routerLink]="['response']" routerLinkActive="router-link-active" >response</button>
</div>
<hr />
<div class="container">
  <router-outlet></router-outlet>
</div>
