<p class="color-">
  A condição atual é:
  <span class="alert" [ngClass]="{ 'alert-danger': !condition, 'alert-success': condition }">{{condition}}</span> |
  <button class="btn" (click)="condition = !condition; testSwitch()" [ngClass]="{ 'btn-danger': condition, 'btn-success': !condition }">
      altere a condição para:
  </button>
  <strong id="condition"> {{ !condition }} </strong>
</p>

<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input *mensagemValidacao="{show: condition, erro: {pattern: true}}" type="text" class="form-control" id="validationCustom01"
        placeholder="First name" value="Mark" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Last name</label>
      <input *mensagemValidacao="{show: condition, erro: {email: true}}" type="text" class="form-control" id="validationCustom02"
        placeholder="Last name" value="Otto" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationCustom05">Zip</label>
      <input *mensagemValidacao="{show: condition, erro: {custom: true}}" type="text" class="form-control" id="validationCustom05"
        placeholder="Zip" required>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label *mensagemValidacao="{show: condition, erro: {required: true}}" class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
    </div>
  </div>

  <input *mensagemValidacao="{show: condition, erro: form.erro, length: {max: 500}}" type="text" class="form-control" id="validationCustomUsername"
    placeholder="E-mail" aria-describedby="inputGroupPrepend">
</form>

