.box {
  border: 1px solid #6c757d;
  max-width: 600px;
  padding: 4px;
}
.choices {
  font-style: italic;
}

code, .code {
  background-color: #f8f9fa;
  color: black;
  font-family: Courier, sans-serif;
  font-size: 85%;
}

div.code {
  width: 400px;
}

.heroic {
  font-size: 150%;
  font-weight: bold;
}

hr {
  margin: 40px 0
}

.odd {
  background-color: #f8f9fa;
}

td, th {
  text-align: left;
  vertical-align: top;
}

#condition {
  border: dashed 1px #5fa4b8;
  padding: 1em .8em 1em .6em;
  margin-left: .5em;
}
