<app-alert></app-alert>

<div class="card-block" *ngIf="hasListaAnexos">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Descrição de Anexo</th>
        <th *ngIf="!listaFormatos">Formatos Permitidos</th>
        <th class="text-center">ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let anexo of anexosConfig.listaAnexos">
        <td>
          {{ anexo.detalhe }} <strong class="text-danger">{{ anexo.requerido ? '*' : ''}}</strong>
        </td>
        <td width="20%" class="text-uppercase position-relative text-center" *ngIf="anexo.formato">
          <i [class]="'fa ' + setIcons(anexo.formato[0])"></i> {{ anexo.formato.join(' - ') }}
        </td>
        <td width="20%" class="position-relative text-center">
          <div class="box-file">
            <input #inputRef [id]="'anexo-' + anexo.id" class="inputfile" type="file" (change)="selecionarArquivo($event, anexo)" />
            <span *ngIf="!anexo.hasAnexo" [hidden]="hasAnexo(anexo.id)">
              <label class="btn btn-nav-secondary" [for]="'anexo-' + anexo.id">
                <i class="fa fa-paperclip fa-lg mr-1"></i> Anexar</label>
            </span>

            <span [hidden]="!hasAnexo(anexo.id) || anexo.hasAnexo">
              <button [disabled]="disableButtons" (click)="removeArquivo(anexo, inputRef)" class="btn btn-nav-secondary">
                <i class="fa fa-times fa-lg mr-1"></i>remover
              </button>
            </span>

            <div *ngIf="anexo.hasAnexo" class="envio-confirmado">
              <i class="fa fa-check fa-lg mr-1 text-success"></i> enviado
            </div>
            <vox-loading-input [name]="'nome-' + anexo.id"></vox-loading-input>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr *ngIf="listaFormatos">
        <td colspan="3">
          Formatos Permitidos: <strong class="text-uppercase"> {{listaFormatos}} </strong>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="text-right width-100">
    <button class="btn" (click)="enviar()" [disabled]="!hasAnexosSelecionados() || disableButtons"
    [ngClass]="{
                  'btn-nav-base': hasAnexosSelecionados(),
                  'btn-lg': hasAnexosSelecionados(),
                  'btn-nav-secondary': !hasAnexosSelecionados()
              }">
      <i class="fa fa-upload fa-lg"></i> Enviar
    </button>
  </div>
</div>
