.inputfile {
  position: absolute;
  width: 50%;
  opacity: 0;
  overflow: hidden;
}

.inputfile + label {
  display: inline-block;
  font-weight: 700;
  color: white;
  width: 100%;
  background-color: #212529;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #000;
}

.inputfile + label {
  cursor: pointer;
}

.inputfile:focus + label {
  outline: 1px dotted #212529;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  pointer-events: none;
}

.envio-confirmado {
  background: #6c757d;
  opacity: 0.65;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 0.375rem 0.75rem;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-nav-secondary {
  position: relative;
  background: #6c757d;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  overflow: hidden;
  margin-bottom: 5px;
}

.btn-nav-base {
  position: relative;
  background: #005b34;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  overflow: hidden;
  margin-bottom: 5px;
}

.width-100 {
  width: 100%;
}
