<ngb-accordion class="card" #acc="ngbAccordion" activeIds="dadosSolicitacao" (panelChange)="onPanelChange($event)">
    <ngb-panel class="card-header" id="upload">
        <ng-template ngbPanelTitle>
            <h5 class="title-accordion">Anexar Arquivos</h5>
        </ng-template>
        <ng-template ngbPanelContent>
            <lib-upload-arquivos
              [anexosConfig]="anexosConfig"
              (arquivoAnexado)="onArquivoAnexado($event)"
              class="card-block">
            </lib-upload-arquivos>
            <div
                *ngIf="erroInfo"
                [class]="'alert alert-' + erroInfo.statusClass">
                    {{ erroInfo.label }}
                    <label
                        class="alert-link"
                        [hidden]="erroStatus !== 'erro'"
                        (click)="tentarNovamente()">
                            : Tentar Novamente
                    </label>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
