/* You can add global styles to this file, and also import other style files */

.btn-success, .btn-warning, .btn-danger {
  padding: 1em;
}

.btn-other {
  padding: 1em;
  margin-top: 1em;
  font-weight: bold;
  color: aliceblue;
  background-color: rgb(71, 132, 223);
}

main {
  margin-top: 8%;
  margin-left: 30%;
}
