.key {
  align-self: flex-end;
  font-weight: bolder;
}

.idb-content {
  width: 50%;
  float: right;
  height: 600px;
}

.idb-content div {
  border: dashed 1px #5fa4b8;
  padding: 1em;
  height: 100%;
  overflow-y: auto;
}
