<div id="idb" class="mt-3 float-left">

  <p>Indexed DataBase</p>


  <form [formGroup]="form">
    <div class="row">
      <label class="key mr-1" for="key">storage key: </label>
      <select formControlName="storage" id="key" class="form-control mb-1 mt-2 col-3">
        <option value="ItemA">ItemA</option>
        <option value="ItemB">ItemB</option>
        <option value="ItemC">ItemC</option>
      </select>
    </div>

    <hr />

    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input formControlName="formControl1" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Example select</label>
      <select formControlName="formControl2" class="form-control" id="exampleFormControlSelect1">
        <option [value]="1">1</option>
        <option [value]="12">2</option>
        <option [value]="123">3</option>
        <option [value]="1234">4</option>
        <option [value]="12345">5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Example multiple select</label>
      <select formControlName="formControl3" multiple class="form-control" id="exampleFormControlSelect2">
        <option [value]="2">1</option>
        <option [value]="23">2</option>
        <option [value]="234">3</option>
        <option [value]="2345">4</option>
        <option [value]="23456">5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea formControlName="formControl4" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="form-check form-check-inline">
      <input formControlName="formControl5" class="form-check-input" type="radio" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">radio 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input formControlName="formControl5" class="form-check-input" type="radio" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">radio 2</label>
    </div>

    <div class="form-check">
      <input formControlName="formControl6" class="form-check-input" type="checkbox" [value]="123123" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Default checkbox
      </label>
    </div>
  </form>

<div class="mt-3">
  <button class="btn btn-success mr-1" (click)="saveContentIdb(form.get('storage').value)">salvar</button>
  <button class="btn btn-warning mr-1" (click)="change(form.get('storage').value)">alterar</button>
</div>

<hr />
  <button class="btn btn-info mr-1" (click)="getContentIdb()">exibir conteúdo do IDB</button>
  <button class="btn btn-primary mr-1" (click)="getOne(form.get('storage').value)">exibir um</button>
  <button class="btn btn-dark mr-1" (click)="clear()">limpar IDB</button>
  <button class="btn btn-secondary mr-1" (click)="deleteOne(form.get('storage').value)">deletar: {{ form.get('storage').value }}</button>

</div>
<div class="mt-3 idb-content">
    <p>IDB Content</p>
    <div>
      <code>
        <pre>{{ idbContent | json }}</pre>
      </code>
    </div>
</div>

